<!--
    <p-toast />
-->
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="right">
        <!--

            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        -->
    </ng-template>
</p-toolbar>

<p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} entries" selectionMode="multiple" [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión Productos</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar..."  class="w-full sm:w-auto"/>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">ID <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th>Imagen</th>
            <th pSortableColumn="precio">Precio <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="categoria_id">Categoria <p-sortIcon field="category"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                {{product.code || product.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Nombre</span>
                {{product.nombre}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                <img [src]="'http://localhost:8000/' + product.imagen" [alt]="product.name" width="100" class="shadow-4" />
            </td>
            <td style="width:14%; min-width:8rem;">
                <span class="p-column-title">Precio</span>
                {{product.precio | currency:'USD'}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Categoria</span>
                {{product.categoria?.nombre}}
            </td>
            <td>
                <div class="flex">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>