<!--
    <p-toast />
-->
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="Nuevo Producto" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNuevoProducto()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="right">
        <!--

            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
        -->
    </ng-template>
</p-toolbar>

<p-table #dt [value]="products" [lazy]="true" (onLazyLoad)="loadProductos($event)" [loading]="loading" [totalRecords]="totalRecords" [columns]="cols" responsiveLayout="scroll" [rows]="5" [paginator]="true"
    [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} to {last} de {totalRecords} entries" selectionMode="multiple"
    [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestión Productos</h5>
            <form (ngSubmit)="buscar()" #form="ngForm">
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" name="q" [(ngModel)]="q" placeholder="Buscar..." class="w-full sm:w-auto" />
                    <Button type="submit">Buscar</Button>
                </span>

            </form>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">ID <p-sortIcon field="code"></p-sortIcon></th>
            <th pSortableColumn="nombre">Nombre <p-sortIcon field="name"></p-sortIcon></th>
            <th>Imagen</th>
            <th pSortableColumn="precio">Precio <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="categoria_id">Categoria <p-sortIcon field="category"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                {{product.code || product.id}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Nombre</span>
                {{product.nombre}}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                <img [src]="'http://localhost:8000/' + product.imagen" [alt]="product.name" width="100"
                    class="shadow-4" />
            </td>
            <td style="width:14%; min-width:8rem;">
                <span class="p-column-title">Precio</span>
                {{product.precio | currency:'USD'}}
            </td>
            <td style="width:14%; min-width:10rem;">
                <span class="p-column-title">Categoria</span>
                {{product.categoria?.nombre}}
            </td>
            <td>
                <div class="flex">
                    <button pButton pRipple icon="pi pi-image" class="p-button-info mr-2"
                        (click)="openDialogImagen(product)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Subir Imagen" [modal]="true" [(visible)]="visibleDialogImagen" [style]="{ width: '30rem' }">
    <span class="p-text-secondary block mb-5">Seleccionar una imagen antes de subir.</span>
    <div class="flex align-items-center gap-3 mb-3">
        <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="subirImagen($event)" [multiple]="false"
            accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                        {{ file.name }} - {{ file.size }} bytes
                    </li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
</p-dialog>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Producto" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.imagen" width="150"
            class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">

        <div [formGroup]="formProducto">

            <div class="field">
                <label for="name">Nombre</label>
                <input type="text" pInputText id="name" formControlName="nombre" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.nombre">El nombre se requerido.</small>
                <small class="ng-dirty ng-invalid">{{ errors.nombre }}</small>
            </div>
            <div class="field">
                <label for="description">Descripción</label>
                <textarea id="description" pInputTextarea formControlName="descripcion" required rows="3"
                    cols="20"></textarea>
            </div>

            <div class="field">
                <label class="mb-3">Categoria</label>
                <div class="formgrid grid">
                    @for (item of categorias; track $index) {
                        <div class="field-radiobutton col-6">
                            <p-radioButton name="categoria_id" [value]="item.id"
                                formControlName="categoria_id"></p-radioButton>
                            <label>{{ item.nombre }}</label>
                        </div>
                    }
                </div>
                <small class="ng-dirty ng-invalid">{{ errors.categoria_id }}</small>
            </div>

            <div class="formgrid grid">
                <div class="field col">
                    <label for="price">Precio</label>
                    <p-inputNumber id="price" formControlName="precio" mode="currency" currency="USD"
                        locale="en-US"></p-inputNumber>
                        <small class="ng-dirty ng-invalid">{{ errors.precio }}</small>
                </div>
                <div class="field col">
                    <label for="quantity">Cantidad</label>
                    <p-inputNumber id="quantity" formControlName="stock"></p-inputNumber>
                    <small class="ng-dirty ng-invalid">{{ errors.stock }}</small>
                </div>
            </div>

        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarProducto()"></button>
    </ng-template>

</p-dialog>